{% extends 'base.html' %}

{% block estilos %}
<style>
  .mtb10{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .p-10{
    padding: 10px;
  }
  .mb-10{
    margin-bottom: 10px;
  }
</style>
{% endblock %}


{% block content %}
<div class="container-fluid mb-100">
  <div class="row">
    <div class="col">
        {% if messages %}
          {% for message in messages %}
          	{% if message.tags == 'error' %}
            	<div class="alert alert-danger">
            		{{message}}
          		</div>
          	{% else %}
	            <div class="alert alert-{{ message.tags }}">
	              {{message}}
	            </div>
	          {% endif %}
          {% endfor %}
        {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col md 12">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h3>Realizar Venta</h3>
          </div>

          <form action="" method="POST">
            {% csrf_token %}
            <!-- HEADER DEL NOMBRE Y LA FECHA -->
            <div class="row">

              <div class="col">
                <h4 style="display: inline; padding-right: 10px;"><b>Vendedor: </b></h4> 
                <span> {{ request.user|capfirst }}</span>
              </div>

              <div class="col">
                <div class="form-group">
                  <div class="input-group date" id="datetimepicker1">
                    <input id="myDate" type="date" class="form-control" placeholder="Fecha" name="datetime"/>
                    <label for="datetime" class="input-group-addon">
                      <i class="far fa-calendar-alt"></i>
                    </label>
                  </div>
                </div>
              </div>

            </div>
            <br>

            <!-- SECCION DE PRODUCTO -->
            <div class="row">
              <div class="col-md-4">
                <h3>Productos</h3>
              </div>
              <div class="offset-md-4 col-md-4 text-center">
                <div class="btn btn-primary" id="agregar-producto">Agregar</div>
              </div>
            </div>
            <br>
            <div id="seccion-productos">
              <div class="card" id="producto1" style="padding: 10px;">
                <div class="row">
                  <div class="col-md-1 mtb10 text-center">
                    <h3 class="id-producto">1</h3>
                  </div>
                  <div class="col-md-4 mtb10">
                    <select name="producto" class="custom-select producto-select" data-id="producto1">
                        <option value="">Selecciona un producto</option>
                        {% for p in productos %}
                          <option value="{{ p.pk }}">{{ p }}</option>
                        {% endfor %}
                      </select>
                  </div>
                  <div class="col-md-1 mtb10">
                    <span class="precio-producto">0.00</span>$
                  </div>
                  <div class="col-md-2 mtb10 ">
                    <p>Disponible: <span class="cantidad-disponible">0</span></p>
                  </div>
                  <div class="col-md-3 mtb10">
                    <div class=" row">
                      <div class="col-md-6">
                        <label for="cantidad1">Cantidad</label>
                      </div>
                      <div class="col-md-5">
                        <input class="form-control cant-producto" type="number" name="cantidad" min="1" value="1">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1 mtb10 text-center">
                    <div class="btn btn-danger eliminar-producto" data-id="1">
                      <i class="fas fa-times"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- TOTAL -->
            <div class="row">
              <div class="offset-md-8 col-md-4">
                <h4 style="display: inline;">Total: </h4>
                <span id="total">0.00</span>
                <input type="hidden" name="total" id="input-total" value="0">
              </div>
            </div>
            <br>

            <!-- METODO DE PAGO -->
            <div class="row">
              <div class="col">
                <h3>Metodo de Pago</h3>
              </div>
            </div>
            <br> 
            <div class="card p-10" >
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-10">
                    <label for="bolivares">Bolivares</label>
                    <input type="number" min=0 step="0.01" name="bolivares" class="form-control" value="0">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-10">
                    <label for="efectivo">Efectivo</label>
                    <input type="number" min=0 step="0.01" name="efectivo" class="form-control" value="0">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-10">
                    <label for="cash">Cash</label>
                    <input type="number" min=0 step="0.01" name="cash" class="form-control" value="0">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-10">
                    <label for="zelle">Zelle</label>
                    <input type="number" min=0 step="0.01" name="zelle" class="form-control" value="0">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-10">
                    <label for="uphold">Uphold</label>
                    <input type="number" min=0 step="0.01" name="uphold" class="form-control" value="0">
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-10">
                      <label for="uphold">Precio Dolar</label>
                      <input type="number" min=0 step="0.01" name="Dolar" class="form-control" value="{{caja.cambio_dolar}}">
                    </div>
                  </div>
              </div>
            </div>
            <!-- SUBMIT -->
            <div class="row">
              <div class="col text-center">
                <div class="btn btn-success" id="verificacion-button">Realizar Venta</div>
                <button type="submit" class="d-none" id="submit-button"></button>
              </div>
              <div class="col text-center">
                <div class="btn btn-danger" onClick="javascript:history.go(-1);">Cancelar</div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- MENSAJE DE ERROR DE VERIFICACION DE PAGO -->

<div class="modal" tabindex="-1" role="dialog" id="verificacion">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="verificacion-text">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  // Variables globales

  let countProductos = 2;
  let total = 0.00;
  // Funciones 

  let addProducto = () => {
    let producto = $('#seccion-productos')
    let cProducto = 'producto' + countProductos.toString()

    let newProducto = producto.children().first().clone()

    // Cambiamos el id del producto
    newProducto.attr('id', cProducto)
    newProducto.find(".id-producto").text(countProductos)

    // Cambiamos el id del select
    newProducto.find(".producto-select").attr('data-id', cProducto)

    // Cambiamos el data-id del boton de eliminar
    newProducto.find(".eliminar-producto").attr("data-id", countProductos)

    // Lo appendeamos al div principal
    producto.append(newProducto);

    actualizarTotal()

    // Subimos la cuenta de Producto
    countProductos++;
  }

  let eliminarProducto = (p) => {
    // Eliminar el producto actual
    let cProducto = 'producto' + p.toString();
    let productos = $('#seccion-productos')

    // Bajamos la cantidad de productos
    countProductos--;

    // Actualizar los todos los elementos siguientes
    actualizarElementos(cProducto);

    // Finalmente se elimina el elemento seleccionado
    productos.find("#" + cProducto).remove();
    
    // Actualizamos el total
    actualizarTotal();
  }

  let actualizarElementos = (p) => {
    let id;
    let psig = $('#seccion-productos').find("#" + p).next()
    if(psig.is('div')){
      let pnuevo = psig.attr('id');
      // Llamamos a actualizaElementos con el id de psig
      actualizarElementos(pnuevo)

      // Actualizamos la info

      // Cambiamos el id 
      psig.attr('id', p);
      // Cambiamos el numero
      psig.find(".id-producto").text(p[p.length - 1]);
      // Cambiamos id select
      psig.find(".producto-select").attr('data-id', p);
      // Cambiamos boton eliminar
      psig.find(".eliminar-producto").attr("data-id", p[p.length - 1]);
    }
  }

  let actualizarTotal = () => {
    total = 0.00;
    $('#seccion-productos').children().toArray().forEach((elem) => {
      let precio = $(elem).find('.precio-producto').text();
      let cantidad = $(elem).find('.cant-producto').val();
      total += precio * cantidad;
    });
    $("#total").text(total);
    $("#input-total").val(total)
  }

  let actualizarFecha = () =>{
    let date = new Date();
    let day = date.getDate();
    let month = date.getMonth() + 1;
    let year = date.getFullYear();
    if(day < 10) {
      day = '0'+ day;
    } 

    if(month < 10) {
      month = '0'+ month;
    } 
    let today = year + '-' + month + '-' + day;
    document.getElementById("myDate").value = today;
  }
  
  let verificar_pago = () => {
    let bolivares = parseFloat($('input[name="bolivares"').val())
    let efectivo = parseFloat($('input[name="efectivo"').val())
    let cash = parseFloat($('input[name="cash"').val())
    let zelle = parseFloat($('input[name="zelle"').val())
    let uphold = parseFloat($('input[name="uphold"').val())
    let dolar = parseFloat($('input[name="Dolar"').val())

    let total = parseFloat($('input[name="total"').val())
    let total_pago = cash + zelle + uphold + (bolivares/dolar) + (efectivo/dolar)

    // Si el total es 0
    if (total == 0){
      $("#verificacion-text").text("No hay productos seleccionado.");
      $('#verificacion').modal('show');
    }
    else if (total > total_pago){
      $("#verificacion-text").text("Pago insuficiente.");
      $('#verificacion').modal('show');
    }
    else if( total < total_pago){
      $("#verificacion-text").text("Pago mayor al total.");
      $('#verificacion').modal('show');
    }
    else{
      $("#submit-button").click()
    }
  }


  // Funcion Main
  function main(){
    // Inicializar el datetimepicker
    actualizarFecha();

    $('#agregar-producto').on('click', () => {addProducto()});

    $(document).on('click', '.eliminar-producto', function(){ 
      eliminarProducto($(this).attr('data-id')); 
    });
    
    // Actualizar precio cuando se cambia de producto
    $(document).on('change', '.cant-producto', () => {
      actualizarTotal();
    });

    // Cambiar info del prodcuto cuando se selecciona
    $(document).on('change', '.producto-select',function(){
      // Funcion para cambiar el precio del producto
      let cambiarPrecio = (a, total) => {
        let name = $(a).attr('data-id')
        $('#' + name).find('.precio-producto').text(total)
      }

      let cambiarDisponible = (a, cantidad) =>{
        let name = $(a).attr('data-id')
        $('#' + name).find('.cantidad-disponible').text(cantidad)
      }

      // Obtenemos el pk del producto seleccionado
      let a = $(this).children("option:selected").val();

      // Buscamos el precio del producto
      $.ajax({
        url: "{% url 'ventas:obtener-producto-info' %}",
        method: "POST",
        data:{
          "pk" : a,  'csrfmiddlewaretoken': '{{csrf_token}}'
        },
        success: (total) => {
          // Cabiamos el precio del producto
          cambiarPrecio(this, total['precio'])
          // Cambiamos la disponibilidad
          cambiarDisponible(this, total['disponible'])
          // Actualizamos el Total global
          actualizarTotal();
        },
        error: (e) => {
          console.log("Ha ocurrido un Error", e)
        }
      });

      
    });
    
    // Verificacion de Pago
    $("#verificacion-button").on('click', ()=>{
      verificar_pago();
    })
  }

  $(document).ready(main());
</script>
{% endblock %}


