{% extends "base.html" %}
{% load static %}

{% block title %}
Resumen Ventas
{% endblock title %}

{% block estilos %}
<style>
</style>
{% endblock estilos %}

{% block content %}

<div class="container-fluid mb-100">
	<div class="row" style="display: flex; align-items: center; margin-bottom: 30px">
		<div class="col">
			<div class="card" style="margin-bottom: 0px">
				<div class="card-body">
					<div class="row" >
						<div class="col"style="display:flex; justify-content: center;">
							<h5 class="" style="display:flex; align-items:center">Ventas Totales</h5>
						</div>
						<div class="col" style="display:flex">
							<p class="" style="display:flex; align-items:center">{{ ventas_total }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col" style="display: flex; justify-content: center">
			<a href="{% url 'ventas:realizar-venta' %}">
				<div class="btn btn-primary btn-large">
					<i class="zmdi zmdi-plus"></i> Realizar Venta
				</div>
			</a>
		</div>

		

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card card-pad">
				<div class="card-title">
					<h3>Resumen de Ventas</h3>
				</div>
				<div class="card-body" style="overflow-x: scroll">
					<table class="table table-hover w-full" id="resumen-ventas">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Fecha</th>
								<th scope="col">Productos Vendidos</th>
								<th scope="col">Vendido por</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							{% for venta in ventas %}
							<tr>
								<td>
									{{venta.pk}}
								</td>
								<td>
									{{venta.fecha}}
								</td>
								<td>
									<button class="btn btn-primary ver-productos" data-pk="{{venta.pk}}" data-toggle="modal" data-target="#modal-ver-productos">
										Ver Productos
									</button>
								</td>
								<td>
									{{venta.vendedor}}
								</td>
								<td>
									{{venta.total}}
								</td>
							</tr>
							{% endfor %}
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL VER PRODUCTOS -->

<div class="modal fade" id="modal-ver-productos" tabindex="-1" role="dialog" aria-labelledby="ModalVpLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalVpLabel">Productos de la venta <span id="id-venta"></span></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" >
				<ul class="list-group list-group-flush" id="modal-productos">
					
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
		
	</div>
</div>

{% endblock content %}

{% block script %}
<script>
$(document).ready( function () {
		$('#resumen-ventas').DataTable({
			"order" : [[0,"desc"]]
		});
		
		$('.ver-productos').on('click', function(){
			$.ajax({
				url: "{% url 'ventas:obtener-productos' %}",
				method: "POST",
				data: {'pk' : $(this).attr('data-pk'), 'csrfmiddlewaretoken': '{{csrf_token}}'},
				success: function(a){
					let productos = $('#modal-productos').empty();
					for(x of a['productos']){
						let elem = $('<div></div>').addClass("list-group-item").text(x)
						productos.append(elem)
					}
				},
				error:function(e){
					console.log(e);
				}
			});
		});

} );


</script>
{% endblock script %}