{% load static %}
<!-- HEADER MOBILE-->
		<header class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="{% url 'ventas:index' %}" style=" box-shadow: 0px 0px 0px 0px; border: 0;">
							<img src="{% static 'images/SS-logo-simple.png' %}" alt="¡SmokeStorm!" />
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li class="has-sub">
							<a class="js-arrow" href="{% url 'ventas:index' %}">
								<i class="fas fa-tachometer-alt"></i>Dashboard
              </a>
						</li>
						<li>
							<a href="{% url 'ventas:resumen-ventas' %}">
								<i class="fas fa-chart-bar"></i>Ventas</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- END HEADER MOBILE-->

		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a class="logo" href="{% url 'ventas:index' %}" style=" box-shadow: 0px 0px 0px 0px; border: 0;">
          <img src="{% static 'images/SS-logo-simple.png' %}" alt="¡SmokeStorm!" />
        </a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list">
						<li class="active has-sub">
							<a class="js-arrow" href="{% url 'ventas:index' %}">
								<i class="fas fa-tachometer-alt"></i>Dashboard
              </a>
						<li>
							<a href="{% url 'ventas:resumen-ventas' %}">
								<i class="fas fa-chart-bar"></i>Ventas</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-chart-bar"></i>Caja</a>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->